# AWS Configuration
DEFAULT_AWS_REGION=XXX
AWS_REGION=XXX
AWS_ACCOUNT_ID=XXX
AWS_EXTERNAL_ID=XXX
AWS_ROLE_ARN=XXX

# Application Configuration
NEXT_PUBLIC_API_URL=XXX
CORS_ORIGINS=XXX

# Secrets
OPENAI_API_KEY=XXX